Bootloader/MDK-ARM/.vscode/*
Bootloader/MDK-ARM/Bootloader/*
!Bootloader/MDK-ARM/Bootloader/Bootloader.hex

APP_Normal/MDK-ARM/.vscode/*
APP_Normal/MDK-ARM/APP_Normal/*
!APP_Normal/MDK-ARM/APP_Normal/APP_Normal.hex
!APP_Normal/MDK-ARM/APP_Normal/APP_Normal.bin

APP_Update/MDK-ARM/.vscode/*
APP_Update/MDK-ARM/APP_Update/*
!APP_Update/MDK-ARM/APP_Update/APP_Update.hex
!APP_Update/MDK-ARM/APP_Update/APP_Update.bin

Upper_Monitor/MDK-ARM/.vscode/*
Upper_Monitor/MDK-ARM/Upper_Monitor/*
!Upper_Monitor/MDK-ARM/Upper_Monitor/Upper_Monitor.hex